<div class="row" dir="rtl">
  <div class="col-md-8">
    <carousel style="border-radius: 20px">
      <slide>
        <img src="./assets/bootstrap/img/2.jpg" alt="first slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
          <h3>First slide label</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </slide>
      <slide>
        <img src="./assets/bootstrap/img/3.jpg" alt="second slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
          <h3>First slide label</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </slide>
      <slide>
        <img src="./assets/bootstrap/img/1.jpg" alt="third slide" style="display: block; width: 100%;">
      </slide>
    </carousel>

  </div>
  <div class="col-md-4 d-flex flex-column mt-2">

     <img class="mb-2" src="./assets/bootstrap/img/leftSlider1.jpg" style="height: 200px;width: 100%;border-radius: 30px">

    <img src="./assets/bootstrap/img/leftSlider2.jpg" style="height: 200px;width: 100%;border-radius: 30px">

  </div>
</div>

