
<div class="mt-5">
  <div class="row">
    <div class="col-md-4 mb-3">
      <img src="./assets/bootstrap/img/box1.jpg" style="border-radius: 30px;width: 100%"/>
    </div>
    <div class="col-md-4 mb-3">
      <img src="./assets/bootstrap/img/box2.jpg" style="border-radius: 30px;width: 100%"/>
    </div>

    <div class="col-md-4">
      <img src="./assets/bootstrap/img/box3.jpg" style="border-radius: 30px;width: 100%"/>
    </div>

  </div>
</div>


<div class="mt-5">
  <p-panel>
    <p-header class="d-flex justify-content-center w-100" dir="rtl" style="margin-bottom: -20px">
      <!--    <div class="d-flex justify-content-center" dir="rtl">-->
      <div class="ml-auto">
        <p class=" title ">لیست محصولات</p>
      </div>
      <div class="text-left">
        <p class=" titleAll" >مشاهده ادامه لیست  <i class="pi pi-arrow-left" style="font-size: 1rem"></i></p>

      </div>

      <!--    </div>-->

    </p-header>

    <div class="container">
      <div class="row" dir="rtl">
        <div class="col-md-3 mb-3">
          <p-card>
            <p-header dir="rtl">
              <div class="headerLabel">
                <span class="text-white danger-color  border border-right-0" dir="rtl">55%</span>
                <div class="noselect"></div>
              </div>

            </p-header>
            <div class="productContent">
              <img class=" imageProduct" src="./assets/bootstrap/img/pic1.jpg" alt="" style="height: 200px">
              <h5 class="text-right titleProducts">محلول ضدعفونی کننده دست 60 درصد الکل با بهرین قیمت و بهترین کیفیت</h5>
              <div class="d-flex flex-row">
                <div class="ml-auto">
                  <label class="text-info textPriceOld text-danger"><s>2000 تومان</s></label>
                </div>
                <div>
                  <label class="text-info textPrice">1000 تومان</label>
                </div>
              </div>

            </div>

            <p-footer>
              <div class="d-flex justify-content-center flex-row mb-2">
                <div class="ml-auto mr-2">
                  <button  pButton icon="pi pi-shopping-cart" class="btnShopping text-center p-button-rounded pi-button-info " iconPos="left"></button>
                </div>
                <div class="ml-auto">
                  <button pButton pRipple type="button" icon="pi pi-eye"  class=" p-button-rounded  pi-button-info "></button>
                </div>
                <div class="mr-auto" dir="rtl">
                  <p-rating [cancel]="false" [(ngModel)]="val" [readonly]="true"  [stars]="5" ></p-rating>            </div>
              </div>

            </p-footer>
          </p-card>
        </div>
        <div class="col-md-3 mb-3">
          <p-card>
            <p-header dir="rtl">
              <div class="headerLabel">
                <span class="text-white danger-color  border border-right-0" dir="rtl">55%</span>
                <div class="noselect"></div>
              </div>

            </p-header>
            <div class="productContent">
              <img class=" imageProduct" src="./assets/bootstrap/img/pic3.jpg" alt="" style="height: 200px">
              <h5 class="text-right titleProducts">محلول ضدعفونی کننده دست 60 درصد الکل با بهرین قیمت و بهترین کیفیت</h5>
              <div class="d-flex flex-row">
                <div class="ml-auto">
                  <label class="text-info textPriceOld text-danger"><s>2000 تومان</s></label>
                </div>
                <div>
                  <label class="text-info textPrice">1000 تومان</label>
                </div>
              </div>

            </div>

            <p-footer>
              <div class="d-flex justify-content-center flex-row mb-2">
                <div class="ml-auto mr-2">
                  <button  pButton icon="pi pi-shopping-cart" class="btnShopping text-center p-button-rounded pi-button-info " iconPos="left"></button>
                </div>
                <div class="ml-auto">
                  <button pButton pRipple type="button" icon="pi pi-eye"  class=" p-button-rounded  pi-button-info "></button>
                </div>
                <div class="mr-auto">
                  <p-rating [cancel]="false" [(ngModel)]="val1" [readonly]="true"></p-rating>            </div>
              </div>
            </p-footer>
          </p-card>
        </div>
        <div class="col-md-3 mb-3">
          <p-card>
            <p-header dir="rtl">
              <div class="headerLabel">
                <span class="text-white danger-color  border border-right-0" dir="rtl">55%</span>
                <div class="noselect"></div>
              </div>

            </p-header>
            <div class="productContent">
              <img class=" imageProduct" src="./assets/bootstrap/img/pic4.jpg" alt="" style="height: 200px">
              <h5 class="text-right titleProducts">محلول ضدعفونی کننده دست 60 درصد الکل با بهرین قیمت و بهترین کیفیت</h5>
              <div class="d-flex flex-row">
                <div class="ml-auto">
                  <label class="text-info textPriceOld text-danger"><s>2000 تومان</s></label>
                </div>
                <div>
                  <label class="text-info textPrice">1000 تومان</label>
                </div>
              </div>

            </div>

            <p-footer>
              <div class="d-flex justify-content-center flex-row mb-2">
                <div class="ml-auto mr-2">
                  <button  pButton icon="pi pi-shopping-cart" class="btnShopping text-center p-button-rounded pi-button-info " iconPos="left"></button>
                </div>
                <div class="ml-auto">
                  <button pButton pRipple type="button" icon="pi pi-eye"  class=" p-button-rounded  pi-button-info "></button>
                </div>
                <div class="mr-auto">
                  <p-rating [cancel]="false"  [(ngModel)]="val2" [readonly]="true"></p-rating>            </div>
              </div>
            </p-footer>
          </p-card>
        </div>
        <div class="col-md-3 mb-3">
          <p-card>
            <p-header dir="rtl">
              <div class="headerLabel">
                <span class="text-white danger-color  border border-right-0" dir="rtl">55%</span>
                <div class="noselect"></div>
              </div>

            </p-header>
            <div class="productContent">
              <img class=" imageProduct" src="./assets/bootstrap/img/pic8.jpg" alt="" style="height: 200px">
              <h5 class="text-right titleProducts">محلول ضدعفونی کننده دست 60 درصد الکل با بهرین قیمت و بهترین کیفیت</h5>
              <div class="d-flex flex-row">
                <div class="ml-auto">
                  <label class="text-info textPriceOld text-danger"><s>2000 تومان</s></label>
                </div>
                <div>
                  <label class="text-info textPrice">1000 تومان</label>
                </div>
              </div>

            </div>

            <p-footer>
              <div class="d-flex justify-content-center flex-row mb-2">
                <div class="ml-auto mr-2">
                  <button  pButton icon="pi pi-shopping-cart" class="btnShopping text-center p-button-rounded pi-button-info " iconPos="left"></button>
                </div>
                <div class="ml-auto">
                  <button pButton pRipple type="button" icon="pi pi-eye"  class=" p-button-rounded  pi-button-info "></button>
                </div>
                <div class="mr-auto">
                  <p-rating [cancel]="false"  [(ngModel)]="val3" [readonly]="true"></p-rating>            </div>
              </div>
            </p-footer>
          </p-card>
        </div>

      </div>
      <div class="row mt-5" dir="rtl">
        <div class="col-md-3 mb-3">
          <p-card>
            <p-header dir="rtl">
              <div class="headerLabel">
                <span class="text-white danger-color  border border-right-0" dir="rtl">20%</span>
                <div class="noselect"></div>
              </div>

            </p-header>
            <div class="productContent">
              <img class=" imageProduct" src="./assets/bootstrap/img/pic2.jpg" alt="" style="height: 200px">
              <h5 class="text-right titleProducts">محلول ضدعفونی کننده دست 60 درصد الکل با بهرین قیمت و بهترین کیفیت</h5>
              <div class="d-flex flex-row">
                <div class="ml-auto">
                  <label class="text-info textPriceOld text-danger"><s>2000 تومان</s></label>
                </div>
                <div>
                  <label class="text-info textPrice">1000 تومان</label>
                </div>
              </div>

            </div>

            <p-footer>
              <div class="d-flex justify-content-center flex-row mb-2">
                <div class="ml-auto mr-2">
                  <button  pButton icon="pi pi-shopping-cart" class="btnShopping text-center p-button-rounded pi-button-info " iconPos="left"></button>
                </div>
                <div class="ml-auto">
                  <button pButton pRipple type="button" icon="pi pi-eye"  class=" p-button-rounded  pi-button-info "></button>
                </div>
                <div class="mr-auto">
                  <p-rating [cancel]="false"  [(ngModel)]="val4" [readonly]="true"></p-rating>            </div>
              </div>
            </p-footer>
          </p-card>
        </div>
        <div class="col-md-3 mb-3">
          <p-card>
            <p-header dir="rtl">
              <div class="headerLabel">
                <span class="text-white danger-color  border border-right-0" dir="rtl">15%</span>
                <div class="noselect"></div>
              </div>

            </p-header>
            <div class="productContent">
              <img class=" imageProduct" src="./assets/bootstrap/img/pic5.jpg" alt="" style="height: 200px">
              <h5 class="text-right titleProducts">محلول ضدعفونی کننده دست 60 درصد الکل با بهرین قیمت و بهترین کیفیت</h5>
              <div class="d-flex flex-row">
                <div class="ml-auto">
                  <label class="text-info textPriceOld text-danger"><s>2000 تومان</s></label>
                </div>
                <div>
                  <label class="text-info textPrice">1000 تومان</label>
                </div>
              </div>

            </div>

            <p-footer>
              <div class="d-flex justify-content-center flex-row mb-2">
                <div class="ml-auto mr-2">
                  <button  pButton icon="pi pi-shopping-cart" class="btnShopping text-center p-button-rounded pi-button-info " iconPos="left"></button>
                </div>
                <div class="ml-auto">
                  <button pButton pRipple type="button" icon="pi pi-eye"  class=" p-button-rounded  pi-button-info "></button>
                </div>
                <div class="mr-auto">
                  <p-rating [cancel]="false"  [(ngModel)]="val5" [readonly]="true"></p-rating>            </div>
              </div>
            </p-footer>
          </p-card>
        </div>
        <div class="col-md-3 mb-3">
          <p-card>
            <p-header dir="rtl">
              <div class="headerLabel">
                <span class="text-white danger-color  border border-right-0" dir="rtl">30%</span>
                <div class="noselect"></div>
              </div>

            </p-header>
            <div class="productContent">
              <img class=" imageProduct" src="./assets/bootstrap/img/pic7.jpg" alt="" style="height: 200px">
              <h5 class="text-right titleProducts">محلول ضدعفونی کننده دست 60 درصد الکل با بهرین قیمت و بهترین کیفیت</h5>
              <div class="d-flex flex-row">
                <div class="ml-auto">
                  <label class="text-info textPriceOld text-danger"><s>2000 تومان</s></label>
                </div>
                <div>
                  <label class="text-info textPrice">1000 تومان</label>
                </div>
              </div>

            </div>

            <p-footer>
              <div class="d-flex justify-content-center flex-row mb-2">
                <div class="ml-auto mr-2">
                  <button  pButton icon="pi pi-shopping-cart" class="btnShopping text-center p-button-rounded pi-button-info " iconPos="left"></button>
                </div>
                <div class="ml-auto">
                  <button pButton pRipple type="button" icon="pi pi-eye"  class=" p-button-rounded  pi-button-info "></button>
                </div>
                <div class="mr-auto">
                  <p-rating [cancel]="false"  [(ngModel)]="val6" [readonly]="true"></p-rating>            </div>
              </div>
            </p-footer>
          </p-card>
        </div>
        <div class="col-md-3 mb-3">
          <p-card>
            <p-header dir="rtl">
              <div class="headerLabel">
                <span class="text-white danger-color  border border-right-0" dir="rtl">10%</span>
                <div class="noselect"></div>
              </div>

            </p-header>
            <div class="productContent">
              <img class=" imageProduct" src="./assets/bootstrap/img/pic6.jpg" alt="" style="height: 200px">
              <h5 class="text-right titleProducts">محلول ضدعفونی کننده دست 60 درصد الکل با بهرین قیمت و بهترین کیفیت</h5>
              <div class="d-flex flex-row">
                <div class="ml-auto">
                  <label class="text-info textPriceOld text-danger"><s>2000 تومان</s></label>
                </div>
                <div>
                  <label class="text-info textPrice">1000 تومان</label>
                </div>
              </div>

            </div>

            <p-footer>
              <div class="d-flex justify-content-center flex-row mb-2">
                <div class="ml-auto mr-2">
                  <button  pButton icon="pi pi-shopping-cart" class="btnShopping text-center p-button-rounded pi-button-info " iconPos="left"></button>
                </div>
                <div class="ml-auto">
                  <button pButton pRipple type="button" icon="pi pi-eye"  class=" p-button-rounded  pi-button-info "></button>
                </div>
                <div class="mr-auto">
                  <p-rating [cancel]="false"  [(ngModel)]="val7" [readonly]="true"></p-rating>            </div>
              </div>
            </p-footer>
          </p-card>
        </div>

      </div>
    </div>
    <p-footer>

      <p-paginator [rows]="10" [totalRecords]="100" ></p-paginator>
    </p-footer>
  </p-panel>

</div>

